h1{
    font-weight: 800;
}
h2,h3,h4,h5,h6{
    font-weight: 700;
}

.about-section .container{
    overflow-y: hidden;
}
.con-sect-2{
    /* background-color: rgb(214, 214, 214); */
    width: 100%; 
    height: auto;
    padding-top: 120px;
   
}

/* .about-us-container{
    position: relative;
    height: auto;
    margin-bottom: 15px;
} */
.about-us-1{
    /* background-image: url("../images/1.webp");
    background-repeat: no-repeat;
    background-position: left; */
}
.about-row{
    padding: 120px 0px;
}
.about-img {
    width: 350px;
    height: 250px;
    /* margin: -160px 0px 0px 60px; */
}
.img-about{
    margin: 50px 0px 0px 0px;
    
}
.about-detail h2{
    font-size: 40px;
    font-weight: 600;
    max-width: 680px;
    margin: auto;
    font-family: 'Titillium Web', sans-serif;
}
.about-para{
    text-align: justify;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.img-about-2{
    margin: 230px 0px 0px -180px;
    border: 5px solid #ffffff;
    z-index: 10;
    height: fit-content;
}
.img-about-3{
    width: 220px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    margin: 106px 0px 0px -219px;
    z-index: 10;
    box-shadow: rgb(80 114 233) 1px 8px 20px;
}
.img-about-4{
    margin-left: -532px;
    margin-top: 413px;
}
.about-bg-img{
    position: absolute;
    top: 1144px;
    z-index: -2;
}
.heading-about{
    margin: 60px 0px 0px 25px;
}
.about-content-bg-img{

z-index: -1;
text-align: center;
/* bottom: 200px; */
}
.about-section{
    overflow-x: hidden;
    background: linear-gradient(to bottom right, rgb(255 255 255 / 0%),rgb(255 255 255 / 0%)), url(../images/shape-001.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.about-content-bg-img img {
    transform: rotate(360deg);
    float: right;
    position: absolute;
    top: 1446px;
    left: 0px;
}
.about-content-bg-img-2 img {
    transform: rotate(180deg);
    float: right;
    position: absolute;
    top: 988px;
    left: 1722px;
}
.about-img-2{
    width: 300px;
    height: 200px;
    
    /* margin: 170px 0px 55px -102px; */
    border: 8px solid #ffffff;
}
.vision-heading{
    /* margin: 5px 0px 0px 10px; */
    margin: 30px 0px 0px 10px;
    font-family: 'Titillium Web', sans-serif;
}
.vision-icon{
    font-size: 30px;
    margin: 5px;
    color: #027AF6;
    background-color: lightblue;
    height: fit-content;
    padding: 5px;
    border-radius: 4px;
    margin: 30px 5px 5px 15px;
}
.contact-user{
    margin-left: 10px;
}
.contact-user h4, h6{
    color: #fff !important;
    font-family: 'Titillium Web', sans-serif;
}
.card-about{
    height: 330px;
    /* border: 1px solid #009FFD; */
    box-shadow: 0px 0px 15px rgb(0 0 0 / 20%);
    background-color: #fff;
    transition: 0.5s ease;
    /* background-image: url("images/card-bg.webp");
    background-size: 305px 250px !important;
    background-repeat: no-repeat;
    background-position: center; */
    
}
.card-about:hover{
    transform: scale(1.05);
    /* box-shadow: rgb(0,159,253) 0px 0px 12px 0px; */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(68, 163, 252, 0.7) 0px 8px 24px, rgba(124, 225, 255, 0.7) 0px 16px 48px;
    border: none;
}
/* .card-about{
    background-image: url(/images/card-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;

} */
.card-2{
    /* margin: 20px 0px 0px 0px; */
    box-shadow: lightgrey 0px 0px 12px 0px;
}
.card-para{
    text-align: justify;
    font-size: 16px;
    padding: 15px 10px 10px 15px;
    margin: 0px 10px 10px 10px;
    font-family: 'Titillium Web', sans-serif;
}



.cta-img {
    margin-top: -25px;
}

.calltoaction {
    background: linear-gradient(90deg, #0ABCF9 0%, #2C69D1 100%);
    border-radius: 30px;
    padding: 0 40px;
    align-items: center;
    justify-content: space-between;
    /* max-width: 1096px; */
    margin: 0 auto;
    margin-top: -90px !important;
    margin-bottom: 60px;
}

.hire-SD {
    text-align: left;
    margin: auto;
}

.hire-SD h3 {
    font-size: 35px;
}

/* Media queries for Contact us bar */
@media only screen and (max-width: 1024px) {
    .about-content-bg-img-2 img{
        display: none;
    }
    .about-content-bg-img img {
        transform: rotate(360deg);
        float: right;
        position: absolute;
        top: 1569px;
        width: 168px;
        /* z-index: -1; */
        left: 0px;
    }
    .about-img {
        width: 300px;
        height: 200px;
        /* margin: -160px 0px 0px 60px; */
    }
    .about-detail h2 {
        font-size: 32px;
        font-weight: 600;
        max-width: 680px;
        margin: auto;
        font-family: 'Titillium Web', sans-serif;
    }
    .btn-card-after{
        float: right !important;
    }
    .tech-bg-img{
        margin-top: 0% !important;
    }
    .hire-SD h3 {
        font-size: 32px;
    }
    
}
@media only screen and (max-width: 1200px) {
    .after-img{
        width: 60px;
        height: 60px;
        margin: 0px 0px 0px 5px;
        border-radius: 40px;
    }
    .card-user-name{
        color: #ffffff !important;
        font-size: 20px;
        font-family: 'Titillium Web', sans-serif;
    }
    .card-user-designation{
        font-size: 12px;
        color: #ffffff !important;
        font-family: 'Titillium Web', sans-serif;
    }
    .btn-card-after{
        width: 190px;
        height: 55px;
        color: #ffffff;
        font-size: 20px;
        font-weight: 600;
        border-radius: 35px;
        margin: 0px 0px 0px 50px;
        float: left;
        border: none;
        background: linear-gradient(to left, #062699 0%, #48B2ED 100%);
    }

  }
  /* Media queries for Contact us bar for screen size 768px */

@media only screen and (max-width: 912px) {
   
    .after-img{
        width: 45px;
        height: 45px;
        margin: 0px 0px 0px 5px;
        border-radius: 40px;
    }
    .card-user-name{
        color: #ffffff;
        font-size: 15px;
        font-family: 'Titillium Web', sans-serif;
    }
    .card-user-designation{
        font-size: 8px;
        font-family: 'Titillium Web', sans-serif;
    }
    .btn-card-after{
    width: 100px;
    height: 40px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 35px;
    margin: 0px 0px 0px 50px;
    float: left;
    border: none;
    background: linear-gradient(to left, #062699 0%, #48B2ED 100%);
    }
    

  }
    /* Media queries for Contact us bar for tablet screens */

@media only screen and (max-width: 768px) {
    .counter-moving-img{
        display: none;
    }
    .about-row {
        padding: 75px 0px 60px 0px;
        flex-direction: column-reverse;
    }
    .about-img {
        width: 300px;
        height: 200px;
        /* margin: -160px 0px 0px 60px; */
    }
    .about-us-1 {
        justify-content: center;
    }
    /* .col-sm-3{
        width: 50% !important;
    } */
   
  

    .after-img{
        width: 45px;
        height: 45px;
        margin: 0px 0px 0px 5px;
        border-radius: 40px;
    }
    .card-user-name{
        color: #ffffff;
        font-size: 15px;
        font-family: 'Titillium Web', sans-serif;
    }
    .card-user-designation{
        font-size: 8px;
        font-family: 'Titillium Web', sans-serif;
    }
    .btn-card-after{
    width: 140px;
    height: 40px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 35px;
    margin: 0px 0px 0px 50px;
    float: left;
    border: none;
    background: linear-gradient(to left, #062699 0%, #48B2ED 100%);
    }
    
    .card-para {
        
        font-size: 16px !important;
        
    }
    .cta-img {
        margin-top: -25px;
        margin-left: -38px;
    }
    .hire-SD h3 {
        font-size: 23px;
    }
    .btn-card-af button {
        width: 175px;
        height: 40px;
        color: #ffffff;
        font-size: 13px;
        font-weight: 600;
        border-radius: 35px;
        /* margin: 0px 0px 0px 60px; */
        float: right;
        border: none;
        background: linear-gradient(90deg, #2C69D1 0%, #0ABCF9 100%);
        margin: auto;
        transition: 0.5s ease;
    }
    #testimonial-area {
        padding-bottom: 100px !important;
       
    }

  }
    /* Media queries for Contact us bar for small screens max-size 412 */

@media only screen and (max-width: 412px) {
   
    .after-img{
        width: 45px;
        height: 45px;
        margin: 0px 0px 0px 5px;
        border-radius: 40px;
    }
    .card-user-name{
        color: #ffffff;
        font-size: 15px;
        font-family: 'Titillium Web', sans-serif;
    }
    .card-user-designation{
        font-size: 8px;
        font-family: 'Titillium Web', sans-serif;
    }
    .btn-card-after{
    width: 60px;
    height: 28px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 35px;
    /* margin: 0px 0px 0px 50px; */
    float: left;
    border: none;
    background: linear-gradient(to left, #062699 0%, #48B2ED 100%);
    }
    
    .card-para{
        font-size: 14px;
        font-family: 'Titillium Web', sans-serif;
    }
    .about-para{
        width: 387px;
        font-family: 'Titillium Web', sans-serif;
    }
    .img-about-3{
    width: 190px;
    height: 175px;
    /* border: 1px solid #000; */
    background-color: #ffffff;
    margin: 142px 0px 0px -234px;
    z-index: 10;
    }
    .card{
        width: 365px;
        height: 115px;
    }

}
@media only screen and (max-width: 375px) {
    .about-para{
        width: 387px;
        font-family: 'Titillium Web', sans-serif;
    }
    .card{
        height: 118px;
        width: 376px;
        margin-left: -6px;
    }
  }
  @media only screen and (max-width: 540px) {
    .card {
        box-shadow: 0px 0px 12px 0px;
        height: 115px;
        width: 455px;
    }
    .about-para {
        text-align: justify;
        width: 475px;
        font-family: 'Titillium Web', sans-serif;
    }
    .heading-about {
        margin: 60px 0px 0px 0px;
        text-align: center;
        font-family: 'Titillium Web', sans-serif;
    }
    
  }
  @media only screen and (max-width: 414px) {
    .about-para {
        text-align: justify;
        width: 390px;
        font-family: 'Titillium Web', sans-serif;
    }
    .card {
        box-shadow: 0px 0px 12px 0px;
        height: 115px;
        width: 367px;
    }
    .card-para {
        text-align: justify;
        font-size: 14px;
        font-family: 'Titillium Web', sans-serif;
    }
    .about-img {
        width: 282px;
        height: 200px;
        /* margin: -160px 0px 0px 60px; */
    }
    .img-about-3 {
        width: 220px;
        height: 175px;
        /* border: 1px solid #000; */
        background-color: #ffffff;
        margin: 140px 0px 0px -180px;
        z-index: 10;
    }
    
  }
  @media only screen and (max-width: 414px) {
    .about-us-1 {
        background-image: url("assets/images/about-us-bg.webp");
        background-repeat: no-repeat;
        width: 550px;
    }
  }
  @media only screen and (max-width: 425px) {

    .about-content-bg-img{
        display: none;
    }
    .about-para{
        
        width: 100%;
    }
    /* .img-about-3 {
        width: 170px;
        height: 180px;
        background-color: rgb(255, 255, 255);
        margin: 106px 0px 0px -185px;
        z-index: 10;
        box-shadow: rgb(80 114 233) 1px 8px 20px;
    } */
    .img-about-3{
        display: none;
    }
    /* .about-img {
        width: 270px;
        height: 220px;
    }  */
    .about-img{
        display: none;
    }
    /* .card {
        box-shadow: 0px 0px 12px 0px;
        height: 133px;
        width: 440px;
    } */
    .btn-card-af button {
        width: 175px;
        height: 40px;
        color: #ffffff;
        font-size: 13px;
        font-weight: 600;
        border-radius: 35px;
        /* margin: 0px 0px 0px 60px; */
        margin-bottom: 10px !important;
        float: right;
        border: none;
        background: linear-gradient(90deg, #2C69D1 0%, #0ABCF9 100%);
        margin: auto;
        transition: 0.5s ease;
    }
    .hire-SD h3 {
        font-size: 18px;
        margin: 10px 0px;
    }
    .cta-img img{
        width: 150px;
    }
    
    .about-us-1 {
        justify-content: flex-start;
    }
    .img-about-4 {
        margin-left: -354px !important;
        margin-top: 413px;
    }
    /* .col-sm-3{
        width: 100% !important;
    } */
    .card-user-name {
        color: #ffffff;
        font-size: 10px;
        margin: -46px 0px 0px 64px;
        font-family: 'Titillium Web', sans-serif;
    }
    .card-user-designation {
        font-size: 8px;
        margin: 0px 0px 0px 53px;
        font-family: 'Titillium Web', sans-serif;
    }
    .after-img {
        width: 45px;
        height: 45px;
        margin: 5px 0px 0px 0px;
        border-radius: 40px;
    }
    
    
    .btn-card-after {
        width: 80px;
        height: 28px;
        color: #ffffff;
        font-size: 10px;
        font-weight: 600;
        border-radius: 35px;
        margin: -47px 0px 0px 366px;
        float: left;
        border: none;
        background: linear-gradient(to left, #062699 0%, #48B2ED 100%);
    }
    .about-img {
        width: 270px;
        height: 220px;
    }
    .img-about-3 {
        width: 170px;
        height: 180px;
        background-color: rgb(255, 255, 255);
        margin: 106px 0px 0px -185px;
        z-index: 10;
        box-shadow: rgb(80 114 233) 1px 8px 20px;
    }
    
  }


  @media only screen and (max-width: 1024px) {
    .card {
        box-shadow: 0px 0px 12px 0px;
        height: 127px;
        width: 450px;
    }
    .card-para {
        text-align: inherit;
        font-size: 13px;
        padding: 15px 10px 10px 15px;
        margin: 0px 10px 10px 10px;
        font-family: 'Titillium Web', sans-serif;
    }
    
  }
  @media only screen and (max-width: 768px) {
    .card {
        box-shadow: 0px 0px 12px 0px;
        height: 100px;
        width: 685px;
    }
     
  }


  @media only screen and (max-width: 425px) {
    .about-content-bg-img img {
        transform: rotate(360deg);
        float: right;
        position: absolute;
        top: 2224px;
        width: 168px;
        /* z-index: -1; */
        left: 0px;
    }
    .card {
        box-shadow: 0px 0px 12px 0px;
        height: 135px;
        width: 440px;
    }
    .about-para {
        text-align: justify;
        width: 350px;
        font-family: 'Titillium Web', sans-serif;
    }
    
    .card-user-name {
        color: #ffffff;
        font-size: 10px;
        margin: -36px 0px 0px 64px;
        font-family: 'Titillium Web', sans-serif;
    }
    
    /* .col-sm-3{
        width: 100% !important;
    } */
    
    .industries-title {
        font-size: 24px !important;
        font-weight: bold !important;
        font-family: 'Titillium Web', sans-serif;
    }
    .whatsapp-chat {
        text-decoration: none;
        color: #fff;
        font-size: 7px;
        letter-spacing: 0.8px;
    }
    
    /* .about-us-container {
        position: relative;
        height: auto;
        margin-bottom: 36px;
    } */
    
  }
  
  /* Counters */
    

    

.container-counter{
    margin-top: -60px;
    /* background: url("assets/images/new-counter.webp"); */
    width: 100%;
    /* background-size: cover; */
    height: auto;
    /* object-fit: cover; */
    padding: 50px 0px;
}    
.counter-bg-img{
    background-image: url(/images/halftone-background-with-circles_23-2148907689.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.counter{
color: #eb3b5a;
font-family: 'Muli', sans-serif;
width: 200px;
height: 200px;
text-align: center;
border-radius: 100%;
padding: 77px 32px 40px;
margin: 0 auto;
position: relative;
z-index: 1;
margin-top: 10rem;
margin: 2rem 5rem 2rem 1rem;
}
.counter:before,
.counter:after{
content: "";
background: #fff;
width: 80%;
height: 80%;
border-radius: 100%;
box-shadow: -5px 5px 5px rgba(0,0,0,0.3);
transform: translateX(-50%)translateY(-50%);
position: absolute;
top: 50%;
left: 50%;
z-index: -1;
}
.counter:after{
background: linear-gradient(45deg,#F83F83 , #E2056F );
width: 100%;
height: 100%;
box-shadow: none;
transform: translate(0);
top: 0;
left: 0;
z-index: -2;
clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 100%, 0 100%, 0 50%);
}
.counter .counter-icon{
color: #fff;
background: linear-gradient(45deg,#F83F83 , #E2056F );
font-size: 33px;
line-height: 70px;
width: 70px;
height: 70px;
border-radius: 50%;
position: absolute;
top:  0;
left: 0;
z-index: 1;
transition: all 0.3s;
}
.counter .counter-icon i.fa{
transform: rotateX(0deg);
transition: all 0.3s ease 0s;
}
.counter-symbol{
    font-size: 33px;
}
.counter:hover .counter-icon i.fa{ transform: rotateX(360deg); }
.counter h3{
font-size: 17px;
font-weight: 700;
text-transform: uppercase;
margin: 0 0 3px;
}
.counter .counter-value{
font-size: 30px;
font-weight: 700;
}
.counter.orange{ color: #7B26DD; }
.counter.orange:after,
.counter.orange .counter-icon{
background: linear-gradient(#B05FDF,#7B26DD);
}
.counter.green{ color: #6cc425; }
.counter.green:after,
.counter.green .counter-icon{
background: linear-gradient(#aff400,#6cc425);
}
.counter.blue{ color: #027AF6; }
.counter.blue:after,
.counter.blue .counter-icon{
background: linear-gradient(#00BCF9,#027AF6);
}
@media screen and (max-width:990px){
    .counter{
     margin-bottom: 40px;
     margin-left: auto;
     margin-right: auto; 
    }
}


/* Tesimonial */

    @import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
 #testimonial-area .section-heading h2 {
    font-size: 48px;
    font-weight: 600;
    max-width: 845px;
    margin: auto;
    font-family: 'Titillium Web', sans-serif;
    color: #fff !important;
    margin: 10px 0px;
}
#testimonial-area{
    /* background: linear-gradient(to bottom, rgba(234, 241, 250, 0.5),rgb(206, 216, 221)); */
	background-size: cover;
    background: url(../images/tes-2.1.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
 .testi-wrap {
	 position: relative;
	 height: 725px;
	 margin-top: -80px;
}
 .client-single {
	 margin-top: 20px;
	 text-align: center;
	 position: absolute;
	 -webkit-transition: all 1s ease;
	 transition: all 1s ease;
}
 .client-info, .client-comment {
	 -webkit-transition: all 0.3s ease;
     transition: all 0.3s ease;
     
}
 .client-comment h3{
    color: #fff !important;
    font-family: 'Titillium Web', sans-serif;

}
.client-info a{
    color: #fff !important;
    font-family: 'Titillium Web', sans-serif;
}
 .client-single.inactive .client-comment, .client-single.inactive .client-info {
	 display: none;
}
 .client-single.inactive .client-comment, .client-single.inactive .client-info {
	 opacity: 0;
	 visibility: hidden;
}
 .client-single.position-1 {
	 -webkit-transform: scale(0.65);
	 transform: scale(0.65);
}
 .client-single.position-2 {
	 left: -40px;
	 top: 105px;
}
 .client-single.position-3 {
	 left: -60px;
	 top: 240px;
	 -webkit-transform: scale(0.4) !important;
	 transform: scale(0.4) !important;
}
 .client-single.position-4 {
	 left: 55px;
	 top: 380px;
}
 .client-single.position-5 {
	 top: 30px;
	 right: 55px;
}
 .client-single.position-6 {
	 top: 225px;
	 right: -40px;
}
 .client-single.position-7 {
	 top: 400px;
	 right: 45px;
	 -webkit-transform: scale(0.4) !important;
	 transform: scale(0.4) !important;
}
 .client-single.active {
	 top: 10%;
	 left: 50%;
	 -webkit-transform: translateX(-50%);
	 transform: translateX(-50%);
	 z-index: 10;
	 width: 70%;
}
 .client-single.active .client-comment, .client-single.active .client-info {
	 -webkit-transition-delay: 0.6s;
	 transition-delay: 0.6s;
}
 .client-single:not(.active) {
	 -webkit-transform: scale(0.55);
	 transform: scale(0.55);
	 z-index: 99;
}
 .client-single.active .client-img {
	 width: 160px;
	 height: 160px;
	 margin: 0 auto 24px;
	 position: relative;
}
 .client-single.active .client-img:before {
	 border-radius: 100%;
	 content: "";
	 background-image: -webkit-gradient(linear, left top, left bottom, from(#0ABCF9), to(#3890fe));
	 background-image: linear-gradient(180deg, #0ABCF9 0%, #3890fe 100%);
	 padding: 5px;
	 width: 160px;
	 height: 160px;
	 top: -4px;
	 left: 0px;
	 position: absolute;
	 z-index: -1;
}
 .client-single .client-img img {
	 width: 150px;
	 border-radius: 50%;
	 border: 8px solid #0ABCF9;
	 cursor: pointer;
}
 .client-single.active .client-img img {
	 max-width: 160px;
	 margin: 0 auto 24px;
	 border: 0;
}
 .client-comment {
	 padding: 0 30px;
     font-family: 'Titillium Web', sans-serif;
}
 .client-comment h3 {
	 font-size: 22px;
	 line-height: 32px;
	 color: #000 !important;
     font-family: 'Titillium Web', sans-serif;
}
 .client-comment span i {
	 font-size: 60px;
	 color: #0084ff;
	 margin: 40px 0 24px;
	 display: inline-block;
}
 .client-info h3 {
	 color: #000 !important;
	 font-weight: 600;
	 margin-bottom: 4px;
}
 .client-info p {
	 color: #000 !important;
	 text-transform: uppercase;
}
.client-info a {
    color: #000 !important;
    /* text-transform: uppercase; */
    text-decoration: none;
}
 @media only screen and (min-width: 768px) and (max-width: 991px) {
	 #testimonial-area .section-heading h2 {
		 font-size: 30px;
         font-family: 'Titillium Web', sans-serif;
	}
	 .client-comment h3 {
		 font-size: 18px;
		 line-height: 28px;
         font-family: 'Titillium Web', sans-serif;
	}
	 .client-single.active {
		 width: 60%;
	}
	 .client-single:not(.active) {
		 -webkit-transform: scale(0.55);
		 transform: scale(0.35);
	}
	 .client-single.position-3, .client-single.position-7 {
		 -webkit-transform: scale(0.3) !important;
		 transform: scale(0.3) !important;
	}
	 .client-single.active .client-img img {
		 max-width: 100px;
	}
	 .client-single.active .client-img::before {
		 padding: 5px;
		 width: 108px;
		 height: 108px;
		 top: -4px;
		 left: 6px;
	}
	 .client-single.active .client-img {
		 width: 120px;
		 height: 100px;
	}
	 .testi-wrap {
		 height: 580px;
	}
	 #testimonial-area {
		 padding: 100px 0 0;
	}
}
 @media only screen and (min-width: 480px) and (max-width: 767px) {
	 #testimonial-area .section-heading h2 {
		 font-size: 30px;
         font-family: 'Titillium Web', sans-serif;
	}
	 .client-comment h3 {
		 font-size: 14px;
		 line-height: 26px;
         font-family: 'Titillium Web', sans-serif;
	}
	 .client-single.active {
		 width: 60%;
	}
	 .client-comment span i {
		 font-size: 40px;
	}
	 .client-single:not(.active) {
		 -webkit-transform: scale(0.55);
		 transform: scale(0.35);
	}
	 .client-single.position-5, .client-single.position-7 {
		 right: 0;
	}
	 .client-single.position-4 {
		 left: 0;
	}
	 .client-single.position-3, .client-single.position-7 {
		 -webkit-transform: scale(0.3) !important;
		 transform: scale(0.3) !important;
	}
	 .client-single.active .client-img img {
		 max-width: 80px;
	}
	 .client-single.active .client-img::before {
		 padding: 5px;
		 width: 88px;
		 height: 88px;
		 top: -4px;
		 left: 16px;
	}
	 .client-single.active .client-img {
		 width: 120px;
		 height: 100px;
	}
	 .testi-wrap {
		 height: 630px;
	}
}
 @media only screen and (min-width: 360px) and (max-width: 479px) {
	 #testimonial-area .section-heading h2 {
		 font-size: 30px;
		 line-height: 40px;
         font-family: 'Titillium Web', sans-serif;
	}
	 .client-comment h3 {
		 font-size: 14px;
		 line-height: 26px;
         font-family: 'Titillium Web', sans-serif;
	}
	 .client-single.active {
		 width: 80%;
	}
	 .client-comment span i {
		 font-size: 40px;
	}
	 .client-single:not(.active) {
		 -webkit-transform: scale(0.25);
		 transform: scale(0.25);
	}
	 .client-single.position-5, .client-single.position-7, .client-single.position-6 {
		 right: -65px;
	}
	 .client-single.position-4 {
		 left: -60px;
	}
	 .client-single.position-3 {
		 left: -75px;
	}
	 .client-single.position-3, .client-single.position-7 {
		 -webkit-transform: scale(0.25) !important;
		 transform: scale(0.25) !important;
	}
	 .client-single.active .client-img img {
		 max-width: 80px;
	}
	 .client-single.active .client-img::before {
		 padding: 5px;
		 width: 88px;
		 height: 88px;
		 top: -4px;
		 left: 16px;
	}
	 .client-single.active .client-img {
		 width: 120px;
		 height: 100px;
	}
	 .testi-wrap {
		 height: 600px;
	}
}
 @media only screen and (min-width: 320px) and (max-width: 359px) {
	 #testimonial-area .section-heading h2 {
		 font-size: 30px;
         font-family: 'Titillium Web', sans-serif;
	}
	 .client-comment h3 {
		 font-size: 14px;
		 line-height: 26px;
         font-family: 'Titillium Web', sans-serif;
	}
	 .client-single.active {
		 width: 80%;
	}
	 .client-comment span i {
		 font-size: 40px;
	}
	 .client-single:not(.active) {
		 -webkit-transform: scale(0.25);
		 transform: scale(0.25);
	}
	 .client-single.position-5, .client-single.position-7, .client-single.position-6 {
		 right: -65px;
	}
	 .client-single.position-4 {
		 left: -60px;
	}
	 .client-single.position-3 {
		 left: -75px;
	}
	 .client-single.position-3, .client-single.position-7 {
		 -webkit-transform: scale(0.25) !important;
		 transform: scale(0.25) !important;
	}
	 .client-single.active .client-img img {
		 max-width: 80px;
	}
	 .client-single.active .client-img::before {
		 padding: 5px;
		 width: 88px;
		 height: 88px;
		 top: -4px;
		 left: 16px;
	}
	 .client-single.active .client-img {
		 width: 120px;
		 height: 100px;
	}
	 .testi-wrap {
		 height: 550px;
	}
}
 
/* Industries */
.con-industries {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    /* background-color: #F9FAFF; */
    background: linear-gradient(to bottom right, rgb(255 255 255 / 0%),rgb(193 193 193 / 0%)), url(../images/choose_bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    

}
.industries-col{
    background-color: #fff;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 20%);
    border: 1px solid rgb(188, 203, 255);
    height: auto;
    width: 23%;
    margin: 8px;
    padding: 10px 30px 10px 30px;
    transition: 0.5s ease;
}
.industries-col:hover{
    transform: scale(1.05);
    box-shadow: rgb(159, 179, 255) 1px 5px 20px;
    border: none !important;

}
.img-indus{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 3px;

}
.industries-row{
    justify-content: center;
    align-items: center;
}
.indus-heading{
    background: linear-gradient(90deg, #6B06BA 0%, #062699 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    /* margin-top: 50px; */
    /* padding: 15px 0px 0px 0px; */
}
.industries-title{
    font-size: 40px;
    font-weight: bold;
   
}

@media (max-width: 768px){
    .industries-col{
        width: 47%;
    }
}
@media (max-width: 425px){
    .industries-col{
        width: 90%;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .about-content-bg-img img {
        transform: rotate(360deg);
        float: right;
        position: absolute;
        top: 1377px;
        left: 0px;
    }
    .about-content-bg-img-2 img{
        display: none;
    }
}
@media (min-width: 1441px){
    .about-content-bg-img img {
        transform: rotate(360deg);
        float: right;
        position: absolute;
        top: 1381px;
        left: 0px;
    }
}
.counter-bg-img{
    background: url(../images/h5-bg-section1.webp);
    background-size: cover;
    /* background-position: center; */
    /* padding-bottom: 130px; */
}
.counter-moving-img {
    text-align: start;
    position: absolute;
    top: 6600px;
}
img.vert-move-counter {
    -webkit-animation: mover 3s infinite  alternate;
    animation: mover 3s infinite  alternate;

}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-50px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-50px); }
}
@media (max-width: 1024px){
    .counter-moving-img {
        text-align: start;
        position: absolute;
        top: 6170px;
    }
    img.vert-move-counter {
        -webkit-animation: mover 3s infinite alternate;
        animation: mover 3s infinite alternate;
        width: 180px;
    }
}

@media (min-width: 1025px) and (max-width: 1399px){
    .counter-moving-img {
        text-align: start;
        position: absolute;
        top: 6785px;
    }
  }